.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0071c2;
  color: white;
  padding: 0 20px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: whitesmoke;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navButton {
  padding: 10px 20px;
  background-color: white;
  color: #0071c2;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navButton:hover {
  background-color: #005fa3;
  color: white;
}

.username {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: whitesmoke;
}
